# Command Shortcuts
# =================
alias update="sudo apt update && sudo apt upgrade --with-new-pkgs"


# Enable aliases to be sudo’ed
alias sudo='sudo '

# Set Up Colors for ls
colorflag="--color"
test -r ~/.dir_colors && eval $(dircolors ~/.dir_colors)

# List all files colorized in long format
alias l="ls -lF ${colorflag}"

# List all files with details
alias lst="ls -lthraF ${colorflag}"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."


# SSH Destinations
alias starlink="ssh jordan@137.184.29.204"

# Work SSH Destinations
alias eng="ssh jordan@192.168.1.85"

alias ckcta="ssh jordan@ckct0a"
alias ckctb="ssh jordan@ckct0b"
alias ckctc="ssh jordan@ckct0c"
alias ckcte="ssh jordan@ckct0e"
alias ckctf="ssh jordan@ckct0f"
alias ckctg="ssh jordan@ckct0g"

alias zebra1="ssh iris@zebra01"
alias zebra2="ssh iris@zebra02"
alias zebra3="ssh iris@zebra03"
alias zebra4="ssh iris@zebra04"
alias zebra5="ssh iris@zebra05"
alias zebra6="ssh iris@zebra06"

