# Command Shortcuts
# =================
alias update="sudo apt update && sudo apt upgrade --with-new-pkgs"
alias keygen="ssh-keygen -t rsa -b 4096"
alias platform="lsb_release -a && uname -r && cat /etc/os-release"
alias c="clear"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Set Up Colors for ls
colorflag="--color"
test -r ~/.dir_colors && eval $(dircolors ~/.dir_colors)

# List all files colorized in long format
alias l="ls -lF ${colorflag}"

# List all files with details
alias lst="ls -lthraF ${colorflag}"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# Sort by File-Size
alias lt='ls --human-readable --size -1 -S --classify'

# Grep Colors
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Git Interactions
ga="git add -A"
gu="git update"

# SSH Destinations
alias starlink="ssh jordan@137.184.29.204"

# Work SSH Destinations
alias eng="ssh jordan@192.168.1.85"

alias ckcta="ssh jordan@ckct0a"
alias ckctb="ssh jordan@ckct0b"
alias ckctc="ssh jordan@ckct0c"
alias ckcte="ssh iris@ckct0e"
alias ckctf="ssh iris@ckct0f"
alias ckctg="ssh iris@ckct0g"

alias zebra1="ssh iris@zebra01"
alias zebra2="ssh iris@zebra02"
alias zebra3="ssh iris@zebra03"
alias zebra4="ssh iris@zebra04"
alias zebra5="ssh iris@zebra05"
alias zebra6="ssh iris@zebra06"

